body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    background-color: bisque;
}

.title {
    color: darkcyan;
    text-align: center;
    font-size: xx-large;
}

textarea {
    resize: none;
    height: 30vh;
    width: 60vw;
    margin: 2% 2% 0% 0%;
}

.buttons {
    flex-flow: row;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75vw;
}

button {
    background-color: darkcyan;
    color: wheat;
    margin: 2% 2% 0.5% 0.5%;
}
